<!DOCTYPE html>
<html>
<head>
  <title>Poker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Home', root_path %> | <%= link_to 'Users', users_path %> | <%= link_to 'Tables', tables_path %> | <%= link_to 'New Table', new_table_path %>

<%= yield %>

</body>
</html>
